// .chat-room-container {
//   height: 100%;
//   overflow: hidden;
//   padding-left: 1px;
//   position: absolute;
//   width: 100%;
// }

li {
  list-style: decimal;
}

.chatroom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-list {
  overflow-y: scroll;
  width: 90%;
  max-height: 80vh;
}

.load-button {
  position: absolute;
  top: 5px;
  right: 5px;
}