.session-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 720px;
  flex-direction: column;
  font-family: 'Noto Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans&display=swap');
}


.session-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  img {
      padding-top: 30%;
      margin-top: 30%;
      max-width: 60px;
      max-height: auto;
    }
}

.session-form-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.session-form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  font-size: 3rem;
  font-weight: 600;
}

.session-form-right {
  color: rgba(var(--sk_foreground_max_solid, 97, 96, 97), 1);
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.session-form-right-navlink {
  padding-top: 10px;
}

.session-form-right-navlink a {
  color: #1264a3;
  font-weight: 700;
  text-decoration: none;
}

.session-form-right-navlink a:hover {
  text-decoration: underline;
}

.session-form-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  font-size: 1.25rem;
}

.session-form-errors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: #E01E5A;
  font-size: 17;
  font-weight: 550;
}

.session-form {
  display: flex;
  flex-direction: column;
}

.session-form-field {
  font-size: 18px;
  height: 44px px;
  line-height: 1.33333333;
  padding: 11px 12px 13px;
  margin: 0 0 20px;
  border: 1px solid rgba(29, 28, 29, .3);
  transition: border 80ms ease-out, box-shadow 80ms ease-out;
  border-radius: 4px;
}

.session-form-button {
  font-size: 18px;
  font-weight: 900;
  height: 44px;
  min-width: 96px;
  padding: 0 16px 3px;
  background-color: #4a154b;
  border: none;
  color: #fff;
  margin-bottom: 20px;
  border-radius: 4px;
}
