.splash-page-wrapper {
  padding-top: 65px;
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans:wght@500&display=swap');
}

.splash-billboard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #541554;
  color: white;
  height: 450px;
  font-size: 15px;
  height: 100%;
  padding-left: 7px;
}

.billboard-headline {
  margin-top: 50px;
  font-size: 4rem;
  font-weight: 700;
  padding-left: 7px;
  line-height: 1.0625;
  letter-spacing: -1.5px;
}

.yellow-text {
  color: #ecb22e;
}

.billboard-text {
  font-size: 1.25rem;
  padding-left: 7px;
  font-weight: 400;
  line-height: 1.333;
  letter-spacing: -.2px;
  margin-top: 0;
}

video {
  max-height: 400px;
  margin-top: 50px;
}

.bold-text {
  font-weight: 550;
}

.splash-section-top {
  background-color: #F4ede4;
}

.splash-section-mid {
  background-color: #F4ede4;
}

.splash-section-bottom {
  background-color: #F4ede4;
}

.splash-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.splash-section-header {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -.8px;
  font-size: 2rem;
  margin: 10px 10px 10px;
  margin-bottom: 1rem;
}

.splash-section-text {
  margin: 10px 10px 10px 10px;
  line-height: 1.4444;
  letter-spacing: -.2px;
  font-size: 1.125rem;
}

.splash-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  background-color: #541554;
  clip-path: ellipse(75% 100% at center top);
  height: auto;
  min-height: 370px;
  border: none;
}

.splash-footer-text {
  padding-top: 75px;
  padding-bottom: 50px;
  color: white;
  font-size: 3.125rem;
  font-weight: 700;
}

.disclaimer-text-container {
  padding-top: 100px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F4ede4;
}