.splash-billboard {
  display: flex;
  background-color: #541554;
  color: white;
  height: 450px;
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans:wght@500&display=swap');
  font-size: 15px;
  height: 100%;
}

.billboard-headline {
  margin-top: 50px;
  font-size: 4rem;
  font-weight: 600;
}

.yellow-text {
  color: #ecb22e;
}

.billboard-text {
  font-size: 1.25rem;
}

video {
  max-height: 400px;
  margin-top: 50px;
}

.bold-text {
  font-weight: 550;
}